@charset "IBM437";
@import url(fonts/clear-sans.css);
html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 18px; }

body {
  margin: 10px 0; }

.wrapper.cal {
  background: #003a70;
  color: #fdd515; }

.wrapper.stanf {
  background: #8c1515;
  color: white; }

.wrapper {
  width: 100%;
  position: absolute;
  top: 0; }

.heading:after {
  content: "";
  display: block;
  clear: both; }

h1.title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  display: block; }

h1.title.iefix {
  font-size: 40px; }

@-webkit-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }

@-moz-keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }

@keyframes move-up {
  0% {
    top: 25px;
    opacity: 1; }

  100% {
    top: -50px;
    opacity: 0; } }

.scores-container {
  text-align: center;
  margin-bottom: 10px; }

.cal .wins-container, .cal .losses-container, .cal .best-container {
  background: #fdd515;
  color: white; }
  .cal .wins-container:after, .cal .losses-container:after, .cal .best-container:after {
    color: #003a70; }
  .cal .wins-container .score-addition, .cal .losses-container .score-addition, .cal .best-container .score-addition {
    color: red;
    color: rgba(253, 213, 21, 0.9); }

.stanf .wins-container, .stanf .losses-container, .stanf .best-container {
  background: white;
  color: black; }
  .stanf .wins-container:after, .stanf .losses-container:after, .stanf .best-container:after {
    color: #8c1515; }
  .stanf .wins-container .score-addition, .stanf .losses-container .score-addition, .stanf .best-container .score-addition {
    color: red;
    color: rgba(255, 255, 255, 0.9); }

.wins-container, .losses-container, .best-container {
  position: relative;
  display: inline-block;
  padding: 15px 25px;
  font-size: 20px;
  height: 20px;
  line-height: 35px;
  font-weight: bold;
  border-radius: 3px;
  margin-top: 8px;
  text-align: center; }
  .wins-container:after, .losses-container:after, .best-container:after {
    position: absolute;
    width: 100%;
    top: 5px;
    left: 0;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 13px;
    text-align: center; }
  .wins-container .score-addition, .losses-container .score-addition, .best-container .score-addition {
    position: absolute;
    right: 30px;
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    z-index: 100;
    -webkit-animation: move-up 600ms ease-in;
    -moz-animation: move-up 600ms ease-in;
    animation: move-up 600ms ease-in;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }

.wins-container:after {
  content: "Wins"; }

.losses-container:after {
  content: "Losses"; }

.best-container:after {
  content: "Best"; }

.vote-container:after {
  content: "Votes"; }

.vote-bar-container {
  padding: 0 0 0 0;
  float: left;
  height: 50px;
  margin: 0px 0px 10px 0px;
  bottom: -20px; }

.cal .vote-bar-background {
  background-color: #fdd515; }

.stanf .vote-bar-background {
  background-color: white; }

.vote-bar-part-1 {
  height: 50px;
  width: 150px;
  display: table-cell;
  border-radius: 3px 0 0 3px;
  background-color: #fdd515;
  z-index: -10; }

.cal .vote-bar-part-2 {
  background-color: #fdd515; }

.stanf .vote-bar-part-2 {
  background-color: #4d4f53; }

.vote-bar-part-2 {
  margin: 0;
  height: 50px;
  width: 200px;
  display: table-cell;
  z-index: -10; }

.vote-bar-part-3 {
  height: 50px;
  width: 150px;
  display: table-cell;
  border-radius: 0 3px 3px 0;
  background-color: #4d4f53;
  z-index: -10; }

.cal .vote-bar {
  background-color: #ab8d01; }

.stanf .vote-bar {
  background-color: #cccccc; }

.vote-bar.left {
  border-radius: 3px 0 0 3px; }

.vote-bar.right {
  border-radius: 0 3px 3px 0; }

.vote-bar {
  position: relative;
  height: 30px;
  top: -40px;
  left: 75px;
  width: 175px;
  z-index: 30; }

.cal .vote-bar-divider {
  border-left: 1px solid white; }

.stanf .vote-bar-divider {
  border-left: 1px solid black; }

.vote-bar-divider {
  position: relative;
  float: left;
  width: 1;
  left: 250px;
  z-index: 50;
  width: 0px;
  height: 50px;
  top: -50px; }

.logo {
  position: relative;
  float: left;
  top: -87.5px;
  z-index: 40; }

.cal.logo {
  right: 10px; }

.stanf.logo {
  left: 380px; }

.vote-button-iefix {
  display: none; }

.stanf.logo.iefix {
  left: 280px; }

.logo img {
  width: auto;
  height: 64px;
  cursor: pointer; }

p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.65; }

.cal a {
  color: #fdd515; }

.stanf a {
  color: white; }

a {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

strong.important {
  text-transform: uppercase; }

hr {
  border: none;
  margin-top: 20px;
  margin-bottom: 30px; }

.cal hr {
  border-bottom: 1px solid #fdd515; }

.stanf hr {
  border-bottom: 1px solid white; }

.container {
  width: 500px;
  margin: 0 auto; }

.box {
  margin-top: 20px;
  border-radius: 5px;
  padding: 10px;
  text-align: left; }

.cal .box {
  background-color: #fdd515;
  color: #003a70; }

.stanf .box {
  background-color: white;
  color: #8c1515; }

.commands {
  max-height: 400px;
  overflow: hidden;
  list-style-type: none; }

.command.valid-false {
  color: #999999; }

.name-field {
  font-size: 20px;
  font-family: inherit;
  padding: 10px;
  border-radius: 5px;
  width: 455px;
  outline: none;
  display: none;
  z-index: 100; }

.edit .name-field {
  display: block; }

.edit .welcome {
  display: none; }

.welcome .name {
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer; }

.command {
  height: 20px;
  padding: 4px 0; }

.command.direction-0:before {
  content: "▲ "; }

.command.direction-1:before {
  content: "▶ "; }

.command.direction-2:before {
  content: "▼ "; }

.command.direction-3:before {
  content: "◀ "; }

/*
.chat-entry {
	width: 89%;
	border: none;
	border-radius: 5px;
}

.cal .chat-entry-button {
	background-color: $background-color-cal;
	color: $text-color-cal;
}

.stanf .chat-entry-button {
	background-color: $background-color-stanf;
	color: $text-color-stanf;
}

.chat-entry-button {
	border: 0px;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
}
*/
@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

.cal .game-container {
  background: #fdd515; }

.stanf .game-container {
  background: white; }

.game-container {
  margin-top: 10px;
  position: relative;
  padding: 15px;
  cursor: default;
  -webkit-touch-callout: none;
  -ms-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  border-radius: 6px;
  width: 500px;
  height: 500px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .game-container .game-message {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(145, 120, 1, 0.5);
    z-index: 100;
    text-align: center;
    -webkit-animation: fade-in 800ms ease 1200ms;
    -moz-animation: fade-in 800ms ease 1200ms;
    animation: fade-in 800ms ease 1200ms;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    animation-fill-mode: both; }
    .game-container .game-message p {
      font-size: 60px;
      font-weight: bold;
      height: 60px;
      line-height: 60px;
      margin-top: 222px; }
    .game-container .game-message .lower {
      display: block;
      margin-top: 59px; }
    .game-container .game-message a {
      display: inline-block;
      border-radius: 3px;
      padding: 0 20px;
      text-decoration: none;
      height: 40px;
      line-height: 42px;
      margin-left: 9px; }
      .game-container .game-message a .cal a {
        background: #fdd515;
        color: #003a70; }
      .game-container .game-message a .stanf a {
        background: white;
        color: #8c1515; }
      .game-container .game-message a.keep-playing-button {
        display: none; }
    .cal .game-container .game-message.game-won {
      background: rgba(253, 213, 21, 0.5);
      color: brighten(#fdd515, 30%); }
    .stanf .game-container .game-message.game-won {
      background: rgba(255, 255, 255, 0.5);
      color: brighten(white, 30%); }
    .game-container .game-message.game-won a.keep-playing-button {
      display: inline-block; }
    .game-container .game-message.game-won, .game-container .game-message.game-over {
      display: block; }

.grid-container {
  position: absolute;
  z-index: 1; }

.grid-row {
  margin-bottom: 15px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.cal .grid-cell {
  background: rgba(145, 120, 1, 0.35); }

.stanf .grid-cell {
  background: rgba(191, 191, 191, 0.35); }

.grid-cell {
  width: 106.25px;
  height: 106.25px;
  margin-right: 15px;
  float: left;
  border-radius: 3px; }
  .grid-cell:last-child {
    margin-right: 0; }

.tile-container {
  position: absolute;
  z-index: 2; }

.tile, .tile .tile-inner {
  width: 107px;
  height: 107px;
  line-height: 116.25px; }
.tile.tile-position-1-1 {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
.tile.tile-position-1-2 {
  -webkit-transform: translate(0px, 121px);
  -moz-transform: translate(0px, 121px);
  transform: translate(0px, 121px); }
.tile.tile-position-1-3 {
  -webkit-transform: translate(0px, 242px);
  -moz-transform: translate(0px, 242px);
  transform: translate(0px, 242px); }
.tile.tile-position-1-4 {
  -webkit-transform: translate(0px, 363px);
  -moz-transform: translate(0px, 363px);
  transform: translate(0px, 363px); }
.tile.tile-position-2-1 {
  -webkit-transform: translate(121px, 0px);
  -moz-transform: translate(121px, 0px);
  transform: translate(121px, 0px); }
.tile.tile-position-2-2 {
  -webkit-transform: translate(121px, 121px);
  -moz-transform: translate(121px, 121px);
  transform: translate(121px, 121px); }
.tile.tile-position-2-3 {
  -webkit-transform: translate(121px, 242px);
  -moz-transform: translate(121px, 242px);
  transform: translate(121px, 242px); }
.tile.tile-position-2-4 {
  -webkit-transform: translate(121px, 363px);
  -moz-transform: translate(121px, 363px);
  transform: translate(121px, 363px); }
.tile.tile-position-3-1 {
  -webkit-transform: translate(242px, 0px);
  -moz-transform: translate(242px, 0px);
  transform: translate(242px, 0px); }
.tile.tile-position-3-2 {
  -webkit-transform: translate(242px, 121px);
  -moz-transform: translate(242px, 121px);
  transform: translate(242px, 121px); }
.tile.tile-position-3-3 {
  -webkit-transform: translate(242px, 242px);
  -moz-transform: translate(242px, 242px);
  transform: translate(242px, 242px); }
.tile.tile-position-3-4 {
  -webkit-transform: translate(242px, 363px);
  -moz-transform: translate(242px, 363px);
  transform: translate(242px, 363px); }
.tile.tile-position-4-1 {
  -webkit-transform: translate(363px, 0px);
  -moz-transform: translate(363px, 0px);
  transform: translate(363px, 0px); }
.tile.tile-position-4-2 {
  -webkit-transform: translate(363px, 121px);
  -moz-transform: translate(363px, 121px);
  transform: translate(363px, 121px); }
.tile.tile-position-4-3 {
  -webkit-transform: translate(363px, 242px);
  -moz-transform: translate(363px, 242px);
  transform: translate(363px, 242px); }
.tile.tile-position-4-4 {
  -webkit-transform: translate(363px, 363px);
  -moz-transform: translate(363px, 363px);
  transform: translate(363px, 363px); }

.tile {
  position: absolute;
  -webkit-transition: 100ms ease-in-out;
  -moz-transition: 100ms ease-in-out;
  transition: 100ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform; }
  .tile .cal .tile-inner {
    background: #917801; }
  .tile .stanf .tile-inner {
    background: #bfbfbf; }
  .tile .tile-inner {
    border-radius: 3px;
    text-align: center;
    font-weight: bold;
    z-index: 10;
    font-size: 55px; }
  .cal .tile.tile-2 .tile-inner {
    color: white;
    background: #8b8f3d; }
  .stanf .tile.tile-2 .tile-inner {
    background: #cb9595; }
  .cal .tile.tile-4 .tile-inner {
    color: white;
    background: #758894; }
  .stanf .tile.tile-4 .tile-inner {
    background: #772e2f; }
  .cal .tile.tile-8 .tile-inner {
    color: white;
    background: #8e6350; }
  .stanf .tile.tile-8 .tile-inner {
    color: brighten(white, 30%);
    background: #963f2e; }
  .cal .tile.tile-16 .tile-inner {
    color: white;
    background: #87a8a9; }
  .stanf .tile.tile-16 .tile-inner {
    color: brighten(white, 30%);
    background: #4e545b; }
  .cal .tile.tile-32 .tile-inner {
    color: white;
    background: #5b7389; }
  .stanf .tile.tile-32 .tile-inner {
    color: brighten(white, 30%);
    background: #606761; }
  .cal .tile.tile-64 .tile-inner {
    color: white;
    background: #746253; }
  .stanf .tile.tile-64 .tile-inner {
    color: brighten(white, 30%);
    background: #865469; }
  .cal .tile.tile-128 .tile-inner {
    color: white;
    background: #99b0c5;
    box-shadow: 0 0 30px 10px rgba(254, 227, 97, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .cal .tile.tile-128 .tile-inner {
        font-size: 25px; } }
  .stanf .tile.tile-128 .tile-inner {
    color: brighten(white, 30%);
    background: #d1a1a1;
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .stanf .tile.tile-128 .tile-inner {
        font-size: 25px; } }
  .cal .tile.tile-256 .tile-inner {
    color: white;
    background: #b2c3d4;
    box-shadow: 0 0 30px 10px rgba(254, 227, 97, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .cal .tile.tile-256 .tile-inner {
        font-size: 25px; } }
  .stanf .tile.tile-256 .tile-inner {
    color: brighten(white, 30%);
    background: #dcb8b8;
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .stanf .tile.tile-256 .tile-inner {
        font-size: 25px; } }
  .cal .tile.tile-512 .tile-inner {
    color: white;
    background: #ccd7e2;
    box-shadow: 0 0 30px 10px rgba(254, 227, 97, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .cal .tile.tile-512 .tile-inner {
        font-size: 25px; } }
  .stanf .tile.tile-512 .tile-inner {
    color: brighten(white, 30%);
    background: #e8d0d0;
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
    font-size: 45px; }
    @media screen and (max-width: 520px) {
      .stanf .tile.tile-512 .tile-inner {
        font-size: 25px; } }
  .cal .tile.tile-1024 .tile-inner {
    color: white;
    background: #e5ebf0;
    box-shadow: 0 0 30px 10px rgba(254, 227, 97, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .cal .tile.tile-1024 .tile-inner {
        font-size: 15px; } }
  .stanf .tile.tile-1024 .tile-inner {
    color: brighten(white, 30%);
    background: #f3e7e7;
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .stanf .tile.tile-1024 .tile-inner {
        font-size: 15px; } }
  .cal .tile.tile-2048 .tile-inner {
    color: white;
    background: white;
    box-shadow: 0 0 30px 10px rgba(254, 227, 97, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .cal .tile.tile-2048 .tile-inner {
        font-size: 15px; } }
  .stanf .tile.tile-2048 .tile-inner {
    color: brighten(white, 30%);
    background: white;
    box-shadow: 0 0 30px 10px rgba(255, 255, 255, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
    font-size: 35px; }
    @media screen and (max-width: 520px) {
      .stanf .tile.tile-2048 .tile-inner {
        font-size: 15px; } }
  .cal .tile.tile-super .tile-inner {
    color: white;
    /*$bright-text-color-cal;*/
    background: #3d3b31;
    font-size: 30px; }
    @media screen and (max-width: 520px) {
      .cal .tile.tile-super .tile-inner {
        font-size: 10px; } }
  .stanf .tile.tile-super .tile-inner {
    color: brighten(white, 30%);
    background: #3d3d3d;
    font-size: 30px; }
    @media screen and (max-width: 520px) {
      .stanf .tile.tile-super .tile-inner {
        font-size: 10px; } }

@-webkit-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@keyframes appear {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

.tile-new .tile-inner {
  -webkit-animation: appear 200ms ease 100ms;
  -moz-animation: appear 200ms ease 100ms;
  animation: appear 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

@keyframes pop {
  0% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0); }

  50% {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    transform: scale(1.2); }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1); } }

.tile-merged .tile-inner {
  z-index: 20;
  -webkit-animation: pop 200ms ease 100ms;
  -moz-animation: pop 200ms ease 100ms;
  animation: pop 200ms ease 100ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.above-game {
  top: -200px;
  text-align: center; }
  .above-game:after {
    content: "";
    display: block;
    clear: both; }

.game-intro {
  line-height: 42px;
  margin-bottom: 0;
  display: inline-block; }

.game-explanation {
  margin-top: 50px; }

@media screen and (max-width: 520px) {
  .above-game, .vote-bar-part-1, .vote-bar-part-2, .vote-bar-part-3,
  .vote-bar-divider, .vote-bar {
    display: none; }

  .vote-bar-container {
    height: 0; }

  .logo {
    top: -55px; }

  .stanf.logo {
    left: 140px; }

  .name-field {
    width: 235px; }

  .style-swap-button {
    display: none; }

  html, body {
    font-size: 15px; }

  body {
    margin: 20px 0; }

  h1.title {
    font-size: 26px;
    margin-top: 15px;
    padding-bottom: 15px; }

  .container {
    width: 280px;
    margin: 0 auto; }

  .wins-container, .losses-container, .best-container {
    margin-top: 0;
    padding: 15px 10px;
    min-width: 40px; }

  .heading {
    margin-bottom: 10px; }

  .game-intro {
    width: 55%;
    display: block;
    box-sizing: border-box;
    line-height: 1.65; }

  .restart-button {
    width: 42%;
    padding: 0;
    display: block;
    box-sizing: border-box;
    margin-top: 2px; }

  .cal .game-container {
    background: #fdd515; }

  .stanf .game-container {
    background: white; }

  .game-container {
    margin-top: 17px;
    position: relative;
    padding: 10px;
    cursor: default;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    border-radius: 6px;
    width: 280px;
    height: 280px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .game-container .game-message {
      display: none;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(145, 120, 1, 0.5);
      z-index: 100;
      text-align: center;
      -webkit-animation: fade-in 800ms ease 1200ms;
      -moz-animation: fade-in 800ms ease 1200ms;
      animation: fade-in 800ms ease 1200ms;
      -webkit-animation-fill-mode: both;
      -moz-animation-fill-mode: both;
      animation-fill-mode: both; }
      .game-container .game-message p {
        font-size: 60px;
        font-weight: bold;
        height: 60px;
        line-height: 60px;
        margin-top: 222px; }
      .game-container .game-message .lower {
        display: block;
        margin-top: 59px; }
      .game-container .game-message a {
        display: inline-block;
        border-radius: 3px;
        padding: 0 20px;
        text-decoration: none;
        height: 40px;
        line-height: 42px;
        margin-left: 9px; }
        .game-container .game-message a .cal a {
          background: #fdd515;
          color: #003a70; }
        .game-container .game-message a .stanf a {
          background: white;
          color: #8c1515; }
        .game-container .game-message a.keep-playing-button {
          display: none; }
      .cal .game-container .game-message.game-won {
        background: rgba(253, 213, 21, 0.5);
        color: brighten(#fdd515, 30%); }
      .stanf .game-container .game-message.game-won {
        background: rgba(255, 255, 255, 0.5);
        color: brighten(white, 30%); }
      .game-container .game-message.game-won a.keep-playing-button {
        display: inline-block; }
      .game-container .game-message.game-won, .game-container .game-message.game-over {
        display: block; }

  .grid-container {
    position: absolute;
    z-index: 1; }

  .grid-row {
    margin-bottom: 10px; }
    .grid-row:last-child {
      margin-bottom: 0; }
    .grid-row:after {
      content: "";
      display: block;
      clear: both; }

  .cal .grid-cell {
    background: rgba(145, 120, 1, 0.35); }

  .stanf .grid-cell {
    background: rgba(191, 191, 191, 0.35); }

  .grid-cell {
    width: 57.5px;
    height: 57.5px;
    margin-right: 10px;
    float: left;
    border-radius: 3px; }
    .grid-cell:last-child {
      margin-right: 0; }

  .tile-container {
    position: absolute;
    z-index: 2; }

  .tile, .tile .tile-inner {
    width: 58px;
    height: 58px;
    line-height: 67.5px; }
  .tile.tile-position-1-1 {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    transform: translate(0px, 0px); }
  .tile.tile-position-1-2 {
    -webkit-transform: translate(0px, 67px);
    -moz-transform: translate(0px, 67px);
    transform: translate(0px, 67px); }
  .tile.tile-position-1-3 {
    -webkit-transform: translate(0px, 135px);
    -moz-transform: translate(0px, 135px);
    transform: translate(0px, 135px); }
  .tile.tile-position-1-4 {
    -webkit-transform: translate(0px, 202px);
    -moz-transform: translate(0px, 202px);
    transform: translate(0px, 202px); }
  .tile.tile-position-2-1 {
    -webkit-transform: translate(67px, 0px);
    -moz-transform: translate(67px, 0px);
    transform: translate(67px, 0px); }
  .tile.tile-position-2-2 {
    -webkit-transform: translate(67px, 67px);
    -moz-transform: translate(67px, 67px);
    transform: translate(67px, 67px); }
  .tile.tile-position-2-3 {
    -webkit-transform: translate(67px, 135px);
    -moz-transform: translate(67px, 135px);
    transform: translate(67px, 135px); }
  .tile.tile-position-2-4 {
    -webkit-transform: translate(67px, 202px);
    -moz-transform: translate(67px, 202px);
    transform: translate(67px, 202px); }
  .tile.tile-position-3-1 {
    -webkit-transform: translate(135px, 0px);
    -moz-transform: translate(135px, 0px);
    transform: translate(135px, 0px); }
  .tile.tile-position-3-2 {
    -webkit-transform: translate(135px, 67px);
    -moz-transform: translate(135px, 67px);
    transform: translate(135px, 67px); }
  .tile.tile-position-3-3 {
    -webkit-transform: translate(135px, 135px);
    -moz-transform: translate(135px, 135px);
    transform: translate(135px, 135px); }
  .tile.tile-position-3-4 {
    -webkit-transform: translate(135px, 202px);
    -moz-transform: translate(135px, 202px);
    transform: translate(135px, 202px); }
  .tile.tile-position-4-1 {
    -webkit-transform: translate(202px, 0px);
    -moz-transform: translate(202px, 0px);
    transform: translate(202px, 0px); }
  .tile.tile-position-4-2 {
    -webkit-transform: translate(202px, 67px);
    -moz-transform: translate(202px, 67px);
    transform: translate(202px, 67px); }
  .tile.tile-position-4-3 {
    -webkit-transform: translate(202px, 135px);
    -moz-transform: translate(202px, 135px);
    transform: translate(202px, 135px); }
  .tile.tile-position-4-4 {
    -webkit-transform: translate(202px, 202px);
    -moz-transform: translate(202px, 202px);
    transform: translate(202px, 202px); }

  .tile .tile-inner {
    font-size: 35px; }

  .game-message p {
    font-size: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    margin-top: 90px !important; }
  .game-message .lower {
    margin-top: 30px !important; }

  .chat-entry {
    width: 80%; } }
.style-swap-button {
  position: absolute;
  width: 312px;
  height: 512px;
  z-index: 0;
  overflow: hidden;
  cursor: pointer;
  opacity: 1;
  transition: 1s opacity;
  -webkit-transition: 1s opacity;
  -moz-transition: 1s opacity; }

.style-swap-button.cal {
  left: 0px;
  top: 275px; }

.wrapper.stanf .style-swap-button.cal img {
  opacity: 0.5; }

.style-swap-button.stanf {
  right: 0px;
  top: 25px; }

.wrapper.cal .style-swap-button.stanf img {
  background-image: url(public/stanford.png);
  opacity: 0.5; }

@media screen and (max-width: 1000px) {
  .style-swap-button {
    opacity: 0; } }
.commands {
  position: absolute;
  top: 330px;
  left: 50%;
  width: 120px;
  margin-left: 265px; }

@media screen and (max-width: 1380px) {
  .commands {
    position: relative;
    top: 0;
    left: 0;
    width: auto;
    margin-left: 0; } }
